body {
    font-family: -apple-system,\.SFNSText-Regular,Helvetica Neue,Roboto,Segoe UI,sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    min-height: 100%;
    background-color: #9ca4ae;
    color: #333333;
}


ul {
    width: 35%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 14px;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

li {
    float: left;
}

li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #ddd;
}

li a.active {
    color: white;
    background-color: #4a88af;
}

form {
    display: block;
    margin-top: 0em;
    margin-block-end: 0em;
}

.tt {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    white-space: normal;
    line-height: normal;
    font-weight: normal;
    font-size: medium;
    font-style: normal;
    color: -internal-quirk-inherit;
    text-align: center;
    border-spacing: 1px;
    border-color: grey;
    font-variant: normal;
}
.tt td {
    font-family: -apple-system,\.SFNSText-Regular,Helvetica Neue,Roboto,Segoe UI,sans-serif;
    font-size: 16px;
    padding: 10px 5px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
    border-color: #ccc;
    color: #333;
    background-color: #d0d9e3;
}


.tt th {
    font-family: -apple-system,\.SFNSText-Regular,Helvetica Neue,Roboto,Segoe UI,sans-serif;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 5px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
    border-color: #ccd5df;
    color: #333;
    vertical-align: top;
}

.tg {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    white-space: normal;
    line-height: normal;
    font-weight: normal;
    font-size: medium;
    font-style: normal;
    color: -internal-quirk-inherit;
    text-align: center;
    border-spacing: 1px;
    border-color: grey;
    font-variant: normal;
}

.tg td {
    font-family: -apple-system,\.SFNSText-Regular,Helvetica Neue,Roboto,Segoe UI,sans-serif;
    font-size: 16px;
    padding: 10px 5px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
    border-color: #ccc;
    color: #333;
    background-color: #d0d9e3;
}



.tg th {
    font-family: -apple-system,\.SFNSText-Regular,Helvetica Neue,Roboto,Segoe UI,sans-serif;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 5px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
    border-color: #ccd5df;
    color: #333;
    background-color: #b2bac4;
    text-align: center;
}
.tg  th #part {
    font-family: -apple-system,\.SFNSText-Regular,Helvetica Neue,Roboto,Segoe UI,sans-serif;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 5px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
    border-color: #ccd5df;
    color: #333;
    background-color: #c1a8c4;
    text-align: center;
}

.tg .tg-4eph {
    background-color: #f9f9f9
}

.btnadd {
    display: inline-block;
    line-height: 20px;
    padding: 12px 24px 12px 24px;
    background: #58c968;
    color: #ffffff;
    font-weight: 700;
    border-radius: 9px;
    text-align: center;
    cursor: pointer;
    border-width: inherit
}

.btnedit {
     display: inline-block;
     line-height: 20px;
     padding: 12px 24px 12px 24px;
     background: #c98642;
     color: #ffffff;
     font-weight: 700;
     border-radius: 9px;
     text-align: center;
     cursor: pointer;
     border-width: inherit
 }

.btndel {
    display: inline-block;
    line-height: 20px;
    padding: 12px 24px 12px 24px;
    background: #c9464e;
    color: #ffffff;
    font-weight: 700;
    border-radius: 9px;
    text-align: center;
    cursor: pointer;
    border-width: inherit
}
.btnCL {
    display: inline-block;
    line-height: 20px;
    padding: 2px 20px 2px 20px;
    background: #0099ff;
    color: #fff;
    font-weight: 700;
    border-radius: 6px;
    align-content: center;
    text-align: center;
    cursor: pointer;
    border-width: inherit
}
